<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="SearchQuery" fileName="logs/SearchQuery.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="NotFound" fileName="logs/NotFound.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="Exception" fileName="logs/Exceptions.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <!-- log4j levels: TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
    <loggers>
        <logger name="SearchQuery" level="info">
            <AppenderRef ref="SearchQuery"/>
        </logger>
        <logger name="NotFound" level="warn">
            <AppenderRef ref="NotFound"/>
        </logger>
        <logger name="Exception" level="error">
            <AppenderRef ref="Exception"/>
        </logger>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
